<link rel="stylesheet" href="/assets/admin/addproducts.css" type="text/css">
<script type="text/javascript" src="/js/remove-products.js"></script>
<link rel="stylesheet" href="/assets/admin/listcate.css">


<section style="background-color: #58736a; z-index:1">


    <div class="container">
        <div class="form-section">
            <h1 style="text-align: center;">Edit Product</h1>
            <h4 style="color: red;">{{msg}}</h4>
            <div class="basic-section">
                <h2>Basic</h2>

                <form action="/admin/newlistproduct" method="post" enctype="multipart/form-data" id="form1" check >
                    <label for="product-title">Product title</label>


                    <input type="txt" id="product-title" name="name" placeholder="Type here"
                        value="{{productData.name}}">

                    <label for="description">Full description</label>
                    <textarea id="full-description" name="description"
                        placeholder="Type here">{{productData.description}}</textarea>

                    <div class="price-section">
                        <div>
                            <label for="regular-price">Brand</label>
                            <input type="text" id="regular-price" name="Brand" placeholder=""
                                value="{{productData.brand}}">
                        </div>

                        <div>

                            <label for="currency">category</label>
                            <select id="currency" name="category">
                                {{#each categories}}
                                <option value="{{this.name}}"> {{this.name}} </option>

                                {{/each}}
                            </select>
                        </div>

                        <div>
                            <label for="promotional-price"> price</label>
                            <input type="text" id="promotional-price" name="price" placeholder="$"
                                value={{productData.price}}>
                        </div>
                        <div>
                            <label for="stock - quandity">stock</label>
                            <input type="text" id="promotional-price" name="stock" placeholder="no"
                                value={{productData.stock}}>
                        </div>
                    </div>

                    <label for="tax-rate">Discount rate</label>
                    <input type="text" id="Discount" name="discount_price" placeholder="%"
                        value={{productData.discount_price}}>

                    <!-- New Category Section -->


                    <!-- Publish Button -->


            </div>
        </div>

        <aside class="image-preview-section">
            <h2>Image Preview</h2>
            <input type="file" id="image-upload" name="uploadimg" class="image-upload" accept="image/*"
                style="display: none;" multiple="multiple">
            <button type="button" id="upload-btn" class="upload-btn">Upload Image</button>
            <div class="image-preview" id="image-preview">
                <!-- Image containers will be added dynamically here -->

                {{!-- {{#each productData.image}}

                <img class="removeimg" src="/upload/{{this}}" alt="">
                <button type="button" onclick="remove('{{this}}')">remove</button>
                {{/each}} --}}


            </div>
        </aside>
    </div>
    <input type="hidden" name="product_id" value={{productData._id}}>

    </form>
    <div class="publish-button-container" style="text-align: center;">


        <button type="button" onclick="showModal()" class="btn btn-info">Publish</button>
    </div>
</section>



<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>Are you sure?</p>
        <p>Please confirm to block this product!</p>

        <button class="btn confirm" form="form1" type="submit" onclick="confirmAction()">Yes, Edit
            it!</button>
        <button class="btn cancel" onclick="closeModal()">Cancel</button>
    </div>
</div>









<script>
    function showModal() {


        document.getElementById('confirmationModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('confirmationModal').style.display = 'none';
    }

    function confirmAction() {
        // Add your action here, e.g., delete the product



    }
</script>{{!--
<script>
    // function remove(img,) {
    // console.log(img)
    //document.getElementsByClassName('removeimg').style = 'none'
    }

</script> --}}