<link rel="stylesheet" href="/assets/admin/listproducts.css" type="text/css">
<table class="product-table">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Price</th>
      <th>Status</th>
      <th>Discount price%</th>
      <th>Actions</th>
    </tr>

  </thead>
  {{#each listproduct}}
  <tbody>

    <tr>
      <td><input type="checkbox"></td>
      <td>


        <img src="/upload/{{image.[0]}}" alt="Product Image" class="product-image">
        <span>{{this.name}} {{this.description}}</span>
      </td>
      <td>${{price}}</td>
      <td><span class="status active">Active</span></td>
      <td>{{discount_price}}%</td>
      <td>
        <a href="/admin/editproduct/?id={{this._id}}"> <button class="edit-button">Edit</button> </a>

        {{#if is_listed}}
        <button class="delete-button" onclick="showModal('{{this._id}}')">Delete</button>
        {{else}}
        <button class="undelete-button" onclick="showModal('{{this._id}}')">UnDelete</button>
        {{/if}}
        {{#if isVisible}}
        <button class="visible-button" onclick="showVisible('{{this._id}}')">visible</button>
        {{else}}
        <button class="unvisible-button" onclick="showVisible('{{this._id}}')">Not-visible</button>
        {{/if}}
      </td>

    </tr>
    <!-- Repeat for other products -->
  </tbody>
  {{/each}}

</table>
{{!-- // popup wind --}}


{{!-- delete --}}
<div id="confirmationModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <p>Are you sure?</p>
    <p>Please confirm to block this product!</p>
    <button class="btn confirm" onclick="confirmAction()">Yes, delete
      it!</button>
    <button class="btn cancel" onclick="closeModal()">Cancel</button>
  </div>
</div>
{{!-- visble --}}
<div id="confirmationModals" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <p>Are you sure?</p>
    <p>Please confirm to block this product!</p>
    <button class="btn confirm" onclick="confirmActions()">Yes, Continue with new Changes
      !</button>
    <button class="btn cancel" onclick="closeModals()">Cancel</button>
  </div>
</div>


<script>
  let id = "";
  let id_visible = ""
  function showModal(model) {
    id = model

    document.getElementById('confirmationModal').style.display = "block";
  }

  function closeModal() {
    document.getElementById('confirmationModal').style.display = 'none';
  }
  function closeModals() {
    document.getElementById('confirmationModals').style.display = 'none';
  }
  function confirmAction() {
    // Add your action here, e.g., delete the product

    window.location.href = `/admin/delete?id=${id}`;
    closeModal();
  }

  function showVisible(visible) {
    id_visible = visible

    document.getElementById('confirmationModals').style.display = "block";

  }

  function confirmActions() {
    // Add your action here, e.g., delete the product

    window.location.href = `/admin/visible?id=${id_visible}`;
    closeModal();
  }

</script>

{{!--
<script>
 // document.addEventListener('DOMContentLoaded', () => {
  //const visibleButtons = document.querySelectorAll('.visible-button');
  //const deleteButtons = document.querySelectorAll('.delete-button');

  //visibleButtons.forEach(button => {
    //button.addEventListener('click', () => {
      // Handle edit action
    //  alert('Edit button clicked');
    });
  });

  //deleteButtons.forEach(button => {
  button.addEventListener('click', () => {
    // Handle delete action
    //  alert('Delete button clicked');
  });
  });
});

</script> --}}