<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Address Management</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/assets/UserProfile/add.css">

<div class="body">
    <div class="container">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="/profile"><i class="fas fa-user"></i> My Details</a></li>
                    <li><a href="/profile/wishlist"><i class="fas fa-heart"></i> Wishlist</a></li>
                    <li><a href="/profile/cart"><i class="fas fa-shopping-cart"></i> My Cart</a></li>
                    <li><a href="/profile/allorders"><i class="fa fa-file-text"></i>All Orders</a></li>
                    <li><a href="/profile/editprofile"><i class="fas fa-edit"></i> Edit User Details</a></li>
                    <li><a href="/profile/changepsw"><i class="fas fa-key"></i> Change Password</a></li>
                    <li><a href="/profile/address"><i class="fas fa-map-marker-alt"></i> Address</a></li>
                    <li><a href="#"><i class="fas fa-wallet"></i> Wallet</a></li>
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </nav>
        </aside>

        <div class="address-container">
            <h2>Address</h2>
            <div class="address-card" id="address1">
                <p style="background-color: red;">This is Permanant Address</p>
                <p><strong>{{add.name}}</strong></p>
                <p>{{add.adress}}<br>{{add.location}}<br>karuvanthoor 400098</p>
                <p>Phone : +91 {{add.mobile}}<br>Email : {{add.email}}</p>

                <button class="edit-btn" onclick="showAddForm1()"><i class="fas fa-edit"></i> Edit</button>
            </div>
            <br>
            {{#if add.address2 }}
            <div class="address-card" id="address1">
                <p><strong>{{add.address2.name}}</strong></p>
                <p>{{add.adress2.address}}<br>{{add.address2.city}}<br>karuvanthoor 400098</p>
                <p>Phone : +91 {{add.address2.phone}}<br>Email : {{add.address2.email}}</p>
                <button class="select-btn" onclick="Deleteadd()">Delete</button>
                <button class="edit-btn" onclick="showAddForm()"><i class="fas fa-edit"></i> Edit</button>
            </div>
            {{else}}
            <button class="" onclick="showAddForm()"><i class="fas fa-edit"></i> Add Address</button>
            {{/if}}
            <div class="edit-address" id="edit-form" style="display: none;">
                {{#if add.address2 }}
                <h3>Edit Address</h3>
                {{else}}
                <h3>Add new Address</h3>
                {{/if}}
                <form action="/profile/newadd" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" id="editAddressId">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address">
                    <label for="city">City:</label>
                    <input type="text" id="city" name="city">
                    <label for="state">State:</label>
                    <input type="text" id="state" name="state">
                    <label for="zip">Zip Code:</label>
                    <input type="text" id="zip" name="zip">
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email">
                    <button type="submit">Save</button>
                </form>
            </div>

        </div>
    </div>

</div>
<script>




    function showAddForm() {
        const form = document.getElementById('edit-form');
        form.style.display = 'block';

    }
    function Deleteadd() {
        window.location.href = "/profile/delete";
    }


</script>